<html>
    <head>
        <title>Simple Task Manager</title>
        <!-- <style>
            table, td {
               border: 1px solid black;
            }
            .head {
                text-align: center;
            }
        </style> -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/js/highcharts.src.js') }}"></script>
    </head>
    <body>
        <div class="head">
            <h1>SIMPLE SEARCH ENGINE</h1> 
        </div>
        <div align="center">
            <form method="POST">
                {{ sform.hidden_tag() }}
                <fieldset>
                    <legend align="center">Inputkan Query</legend>
                    {{ sform.keyword }} 
                    {{ sform.search }}
                </fieldset>
            </form>
        </div>
        <br>
        <br>
        <div align="center">
        <b>Document Result:</b><br><br>
            <table>
                <tr>
                    <td style="text-align:center">Judul</td>
                    <td style="text-align:center">Distance</td>
                    <td style="text-align:center">artikel</td>
                </tr>
            {% for v in data %}
                <tr>
                <td style="text-align:center">{{ v[0][0] }}</td>
                <td style="text-align:center">{{ v[0][1] }}</td>
                <td style="text-align:center">{{ v[1] }}</td>
                </tr>
            {% endfor %}
            </table>

        </div>
    <div id="diagram_batang">
    </div>
    
    <script type="text/javascript">
        var colors = ['#b71c1c', '#c62828', '#d32f2f', '#e53935', '#f44336', '#ef5350', '#e57373', '#ef9a9a', '#ffcdd2', '#ffebee'];
        var item = [
					{% for v in data %}
					'{{ v[0][0] }}',
					{% endfor %}				
				];
        
        //diagram batang
        $('#diagram_batang').highcharts({
            chart: {
                type: 'bar',
            },
            title: {
                text: 'Kemiripan dengan Artikel HOAX',
            },
            xAxis: {
                categories: item,
                allowDecimals: false
            },
            yAxis: {
                allowDecimals: false
            },
            series: [
            {
                data: [
					{% for v in data %}
						{y: {{ v[0][1] }}, name: '{{ v[0][0] }}', color: colors[3]},
					{% endfor %}
                ]
            },
            ],
            credits: {
                enabled: false
            },
        });     
    </script>
    
    </body>
</html>
